<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="fontawesome-free-5.15.4-web/css/all.css">
</head>
<body>
<div class="app">
    <header>
        <div class="logo">
            <a href=""><img src="images/logo-furama-resort-danang.png" alt="Logo Furama resort"></a>
        </div>
        <div class="my_name">
            <a href="https://www.facebook.com/ho.quockien1905">
                <div>
                    <span>Hồ Quốc Kiên</span>
                    <img src="images/avatar.png" alt="">
                </div>
            </a>
        </div>
    </header>
    <div class="background">
        <nav>
            <div>
                <ul class="nav_list">
                    <li class="list-item"><a href=""><i class="fas fa-home"></i>Home</a></li>
                    <li class="list-item"><a href=""><i class="fas fa-user-tie"></i>Employee</a></li>
                    <li class="list-item"><a href=""><i class="fas fa-users"></i>Customer</a></li>
                    <li class="list-item"><a href=""><i class="fab fa-usps"></i>Service</a></li>
                    <li class="list-item"><a href=""><i class="fas fa-file-alt"></i>Contract</a></li>
                </ul>
            </div>
            <div class="search">
                <div class="search_container">
                    <input type="text" placeholder="search...">
                    <a href="">
                        <i class="fas fa-search"></i>
                    </a>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="sidebar">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <div class="content">
            </div>
        </div>
        <footer>
            <div>
                <i class="far fa-copyright"></i>
                <span>2021 Copyright: <span class="email">hquockien@gmail.com</span></span></div>
        </footer>
    </div>


</div>
</body>
</html>