<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Service</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/fontawesome-free-5.15.4-web/css/all.css" type="text/css">
</head>
<body>
<div class="app">
    <div th:replace="~{index.html::header}"></div>
    <div class="background">
        <div th:replace="~{index.html::nav}"></div>
        <div class="container">
            <div th:replace="~{index.html::sidebar}"></div>
            <div class="content">
                <h2 class="list_name">Service List</h2>
                <a href="/service/create" class="add_button">
                    Add a new Service
                </a>
<!--                <span style="float: right; color: green" th:if="${addSuccess != null}">-->
<!--                    <span th:text="${addSuccess}">-->
<!--                    </span>-->
<!--                    <i style="padding-left: 5px" class="fas fa-check-circle"></i>-->
<!--                </span>-->
<!--                <span style="float: right; color: green" th:if="${updateSuccess != null}">-->
<!--                    <span th:text="${updateSuccess}">-->
<!--                    </span>-->
<!--                    <i style="padding-left: 5px" class="fas fa-check-circle"></i>-->
<!--                </span>-->
                <table>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Standard room</th>
                        <th>Number of floors</th>
                        <th>Pool area</th>
                        <th>Service area</th>
                        <th>Service cost</th>
                        <th>Max people</th>
                        <th>Description other convenience</th>
                        <th>Rent type</th>
                        <th>Service type</th>
                        <th colspan="3">Action</th>
                    </tr>
                    <tr th:each="service : ${serviceList}">
                        <td th:text="${service.serviceId}">
                        <td th:text="${service.serviceName}">
                        <td th:text="${service.standardRoom}">
                        <td th:text="${service.numberOfFloors}">
                        <td th:text="${service.poolArea}">
                        <td th:text="${service.serviceArea}">
                        <td th:text="${service.serviceCost}">
                        <td th:text="${service.serviceMaxPeople}">
                        <td th:text="${service.descriptionOtherConvenience}">
                        <td th:text="${service.rentType.rentTypeName}">
                        <td th:text="${service.serviceType.serviceTypeName}">
                        <td><a class="action" th:href="@{/service/detail/{id}(id=${service.serviceId})}">Detail</a></td>
                        <td><a class="action" th:href="@{/service/edit/{id}(id=${service.serviceId})}">Edit</a></td>
                        <td><a class="action" th:href="@{/service/delete/{id}(id=${service.serviceId})}">Delete</a></td>
                    </tr>
                </table>
                <div class="pageable">
                    <a class="add_button paging" th:href="@{/service/list/(page=${serviceList.number - 1})}" th:if="${serviceList.hasPrevious()}">Previous</a>
                    <div class="page_number">
                        <span th:text="|${serviceList.number + 1} / ${serviceList.totalPages}|"></span>
                    </div>
                    <a class="add_button paging" th:href="@{/service/list/(page=${serviceList.number + 1})}" th:if="${serviceList.hasNext()}">Next</a>
                </div>
            </div>
        </div>
        <div th:replace="~{index.html::footer}"></div>
    </div>
</div>
</body>
</html>