<h3 class="text-center">Thêm nhân viên mới</h3>
<button [routerLink]="['/employee-list']" class="btn btn-success">Quay lại</button>
<div>
  <form class="m-5 w-50 mx-auto">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <span class="text-danger" *ngIf="false">Vui lòng nhập!</span>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
      <span style="color: red; font-size: 14px;" >Vui lòng nhập!</span>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <span style="color: red; font-size: 14px" >Vui lòng nhập!</span>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
      <span style="color: red; font-size: 14px;" >Vui lòng nhập!</span>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <span style="color: red; font-size: 14px" >Vui lòng nhập!</span>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
      <span style="color: red; font-size: 14px;" >Vui lòng nhập!</span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
