* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 700px;
    margin: 50px auto;
}

h1 {
    border-bottom: 1px solid black;
}

.content {
    padding-top: 20px;
}

.content > p {
    font-size: 17px;
    text-indent: 50px;
    padding-bottom: 10px;
}

span {
    color: blueviolet;
}

a {
    text-decoration: none;
}