<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contract</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/fontawesome-free-5.15.4-web/css/all.css" type="text/css">
</head>
<body>
<div class="app">
    <div th:replace="~{index.html::header}"></div>
    <div class="background">
        <div th:replace="~{index.html::nav}"></div>
        <div class="container">
            <div th:replace="~{index.html::sidebar}"></div>
            <div class="content">

            </div>
        </div>
        <div th:replace="~{index.html::footer}"></div>
    </div>
</div>
</body>
</html>