<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
   <h1>User Login</h1>
   <form action="/doLogin" method="post" th:object="${user}">
       <table border="1">
           <tr>
               <td>Email</td>
               <td><input type="text" th:field="*{email}"
                          th:value="${cookieValue.value}"></td>
           </tr>
           <tr>
               <td>Password</td>
               <td><input type="text" th:field="*{password}"></td>
           </tr>
           <tr>
               <td colspan="2"><input type="submit" value="Login" style="width: 100%"></td>
           </tr>
       </table>
   </form>
   <span th:text="${message}"></span>
   <span th:text="${user.email}"></span>
</body>
</html>